.footer {
    background-color: var(--black-color);
    color: var(--white);
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3;
    border-top: 1px solid rgba(108, 117, 125, 0.2941176471);

    p{
        font-size: 14px;
    }
}