@mixin small-screen {
    @media screen and (max-width: 600px) {
      @content;
    }
  }
  
  @mixin medium-screen {
    @media screen and (min-width: 600px) and (max-width: 900px) {
      @content;
    }
  }
  
  @mixin large-screen {
    @media screen and (min-width: 900px) {
      @content;
    }
 }

.superhero-banner{
    width: 100%;
    height: 95vh;
    position: relative;

    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Gradiente de negro transparente a negro con 50% de opacidad */
        z-index: 1;
    }

    .superhero-banner-image{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; 
        filter: blur(1px); 
        z-index: -1;
    }

    .superhero-banner-info{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2; 
        padding: 20px 100px; 
        color: white;
        width: 40%;

        @include small-screen() {
            padding: 20px 40px;
            width: 80%;
        }

        @include medium-screen() {
            width: 80%;
        }

        .line{
            display: block;
            width: 80px;
            height: 10px;
            background-color: var(--white);
        }

        .superhero-banner-name{
            margin-top: 20px;
            font-size: 42px;

            @include small-screen() {
                font-size: 36px;
            }
        }

        .superhero-banner-description{
            margin-top: 30px;
            text-align: justify;
            font-size: 18px;
        }

        .superhero-banner-modified{
            margin-top: 20px;
        }

        .superhero-banner-button{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 40px;
            width: 280px;
            height: 60px;
            padding: 10px 20px;
            border-radius: 24px;
            border: 1px solid var(--primary-color);
            background-color: var(--primary-color);
            color: var(--white);
            font-weight: bold;

            &:hover{
                background-color: var(--secondary-color);
                border: 1px solid var(--secondary-color);
            }
        }
    }

}

