@mixin small-screen {
    @media screen and (max-width: 600px) {
      @content;
    }
  }
  
  @mixin medium-screen {
    @media screen and (min-width: 600px) and (max-width: 900px) {
      @content;
    }
  }
  
  @mixin large-screen {
    @media screen and (min-width: 900px) {
      @content;
    }
 }

.comic-card{
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    height: 400px;
    background-color: #6c757d4b;
    border-radius: 12px;

    @include small-screen() {
        height: 450px;
    }

    .comic-image{
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;

        @include small-screen() {
            height: 450px;
        }
    }

    .comic-info{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
        "comic-name comic-name"
        "comic-description comic-description" 
        "comic-onsale comic-modified"
        "comic-upc comic-price"
        "comic-creators comic-creators"
        "comic-characters comic-characters"
        ;
        padding: 40px;
        gap: 15px;

        p{
            font-size: 12px;

            span{
                font-weight: 600;
                color: var(--secondary-color);  
            }
        }

        .comic-name{
            grid-area: comic-name;
            font-size: 20px;
        }

        .comic-onsale{
            grid-area: comic-onsale;
            font-size: 12px;
        }

        .comic-modified{
            grid-area: comic-modified;
            font-size: 12px;
        }

        .comic-description{
            grid-area: comic-description;
            height: 72px;
            text-align: justify;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3; 
            line-clamp: 3; 
            font-size: 12px;
        }

        .comic-upc{
            grid-area: comic-upc;
        }

        .comic-price{
            grid-area: comic-price;
        }

        .comic-creators{
            grid-area: comic-creators;
        }

        .comic-characters{
            grid-area: comic-characters;
        }
        
    }
}