.superhero-card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 450px;

    .superhero-image{
        width: 100%;
        height: 88%;
        
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 4px;
            filter: brightness(0.8);
        }
    }

    .superhero-info{
        padding: 0 10px;
        
        .superhero-name{
            font-size: 16px
        }

        .superhero-modified{
            margin-top: 10px;
            font-size: 12px;
        }
    }

    .superhero-buttons{
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        justify-content: center;
        align-items: center;

        .superhero-button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 40px;
            font-size: 14px;
            font-weight: bold;
            border-radius: 8px;
            border: 1px solid var(--primary-color);
            background-color: var(--primary-color);
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            color: var(--white);
            cursor: pointer;

            &:hover{
                background-color: var(--secondary-color);
                border: 1px solid var(--secondary-color);
            }
        }
    }

}