<form class="search-form">
    <div class="filter-container">
        <div class="filter-item" *ngFor="let item of options">
            <input class="filter-button" type="checkbox" [id]="item.id" [(ngModel)]="item.selected" (change)="onCheckboxChange(item)" name="name">
            <label [for]="item.id"></label>
            <span>{{item.label}}</span>
        </div>
    </div>
    <div class="search-container">
        <input class="search-input" type="text" placeholder="Search your superhero..." [(ngModel)]="searchTerm" name="searchTerm">
        <button class="search-button" type="submit" (click)="search()">Search</button>
    </div>
</form>